name: Publish
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions:
  packages: write

jobs:
  publish:
    uses: devantler-tech/reusable-workflows/.github/workflows/cd-dotnet-library-publish.yaml@190ed0cb2000f87afddbec35b95b26fe38cd0967 # v1.28.0
    secrets:
      NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
