name: Publish
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions:
  packages: write

jobs:
  publish:
    uses: devantler-tech/reusable-workflows/.github/workflows/cd-dotnet-library-publish.yaml@c049d0ad8110b0a74920fecf22525d2f771264b7 # v1.22.5
    secrets:
      NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
