name: Publish
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions:
  packages: write

jobs:
  publish:
    uses: devantler-tech/reusable-workflows/.github/workflows/cd-dotnet-library-publish.yaml@55d62d99f199c9c325d1862773659e5a51b9acd2 # v1.27.0
    secrets:
      NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
