name: Publish
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions:
  packages: write

jobs:
  publish:
    uses: devantler-tech/reusable-workflows/.github/workflows/cd-dotnet-library-publish.yaml@14ced1780351f91e8ebdc5324cf7590ebebf8a66 # v1.19.8
    secrets:
      NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
