name: Publish
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions:
  packages: write

jobs:
  publish:
    uses: devantler-tech/reusable-workflows/.github/workflows/cd-dotnet-library-publish.yaml@6e090583500faddbf48c4ef3af02e6b89db1913f # v1.22.3
    secrets:
      NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
