name: Test .NET solution or project
permissions:
  packages: read
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  test:
    uses: devantler-tech/reusable-workflows/.github/workflows/ci-dotnet-test.yaml@0763de30f9598601916680b2f52c9f41f14082df # v1.21.0
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
