name: Test .NET solution or project
permissions:
  packages: read
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  test:
    uses: devantler-tech/reusable-workflows/.github/workflows/ci-dotnet-test.yaml@6e090583500faddbf48c4ef3af02e6b89db1913f # v1.22.3
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
