name: Test .NET solution or project
permissions:
  packages: read
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  test:
    uses: devantler-tech/reusable-workflows/.github/workflows/ci-dotnet-test.yaml@8cb40c51da663ff372855b3152ddcbbaf562f718 # v1.27.1
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
