name: Test .NET solution or project
permissions:
  packages: read
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  test:
    uses: devantler-tech/reusable-workflows/.github/workflows/ci-dotnet-test.yaml@f7c1091196016d2e66b7487ceba166112d196702 # v1.25.0
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
