name: Test .NET solution or project
permissions:
  packages: read
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  test:
    uses: devantler-tech/reusable-workflows/.github/workflows/ci-dotnet-test.yaml@190ed0cb2000f87afddbec35b95b26fe38cd0967 # v1.28.0
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
